@model DeviceLibrary.Models.BookModel

@if (ViewBag.Model != null)
{
    string availabilityStatus = ViewBag.Model.Available ? "Is Available" : "Not Available";

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>@ViewBag.Model.Name</div>
                <div>@ViewBag.Model.Model</div>
                <div>@availabilityStatus</div>
                <div>@ViewBag.Model.DeviceType</div>
            </div>
            <div class="col-sm">
                @using (Html.BeginForm("BookLaptop", "Home", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    @Html.TextBoxFor(m => m.Duration, new { placeholder = "Duration", @class = "form-input" })
                    @Html.ValidationMessageFor(m => m.Duration)
                    <br />
                    <input type="submit" value="Book" class="btn btn-outline-success" />
                }
            </div>
        </div>
    </div>
}

