@model DeviceLibrary.Models.DeviceViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h4>Cameras</h4>
<div class="container">
    <div class="row">
        @foreach (var camera in Model.CameraViewModel)
        {
            string availabilityStatus = camera.Available ? "Is Available" : "Not Available";
            <div class="col-sm">
                <div>@camera.Name</div>
                <div>@camera.Model</div>
                <div>@availabilityStatus</div>
                <div>@camera.DeviceType</div>
                @if (@camera.Available)
                {
                    <button class="btn btn-outline-success"> Book Now</button>
                }
            </div>
        }
    </div>
</div>
<br/>
<h4>Laptops</h4>
<div class="container">
    <div class="row">
        @foreach (var laptop in Model.LaptopViewModel)
        {
            string availabilityStatus = laptop.Available ? "Is Available" : "Not Available";

            <div class="col-sm">
                <div>@laptop.Name</div>
                <div>@laptop.Model</div>
                <div>@availabilityStatus</div>
                <div>@laptop.DeviceType</div>
                @if (@laptop.Available)
                {
                    <button class="btn btn-outline-success"> Book Now</button>
                }
            </div>
        }
    </div>
</div>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
